<div ui-content-for="title">
  <span>Assistance</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section section-break">

        <h3>Chat en ligne </h3>
        <p><a href="https://v2.zopim.com/widget/livechat.html?key=1wtViB4cZlo4SSAn2bAmC6JzuSKzMZib" class="btn btn-moov btn-block">Discuter avec un Conseiller Clientel</a></p>
        <h3>Numéros Utils </h3>
        <p>
        Clients Moov Prépayé et Moovpostpayé
        <button class="btn btn-moov btn-block" ng-click="call('1919')">Appeler le 1919 (25f)</button></p>
        <p>
        Clients Moovpostpaid, MoovCorporate, PDS
        <button class="btn btn-moov btn-block" ng-click="call('3334')">Appeler le 3334(gratuit)</button></p>
        <p>
        Clients automatisé (demandes d'information sur nos offres)
        <button class="btn btn-moov btn-block" ng-click="call('3333')">Appeler le 3333 (gratuit)</button></p>
    </div>

    <div class="section section-break">
        <!--<a href=""
           ui-turn-on="modal1"
           class="btn btn-default">ass Show Modal</a>-->
        <a href="map.html"
           class="btn btn-moov btn-block" ><i class="fa fa-3x fa-map-marker"></i><br>Carte des MoovStores</a>
    </div>
  </div>
</div>

<div ui-content-for="modals">
  <div ng-include="'modal1.html'"></div>
  <div ng-include="'geoloc.html'"></div>
</div>