<div ui-content-for="title">
  <span>Epiq Nation</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <p><img src="img/epiqnation.png"></p>
      <div class="panel-group"
        ui-state='myAccordion' 
        ui-default='1'>

        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 1}">
        
            <h4 class="panel-title">
              Qu’est-ce que c’est, EPIQ NATION ?
            </h4>
          </div>

          <div ui-if="myAccordion == 1">
            <div class="panel-body">
              <div class="nn_sliders_item" id="nn_sliders_item_1____728___-1" style="display: block; margin: 0px; opacity: 1;">
                <a name="1____728___-1"></a><h2 class="nn_sliders_title" style="visibility: visible; display: none;"><span>Qu’est-ce</span> que c’est, EPIQ NATION ?</h2>
                <p><strong>Epiq Nation</strong> est l’offre de <strong>Moov Bénin</strong> pour la jeune génération. Plus qu’une offre Télécom, elle est tout un concept bâtis sur des plateformes garnis de fun !!!</p>
                <p>Désormais ; tu <strong>Imagin’ ta life</strong> avec non seulement de nombreux avantages tels que :</p>
                <ul>
                  <li>des appels gratuits,</li>
                  <li>des volumes internet offerts et du sms à donf mais aussi avec</li>
                  <li>ton anniversaires de rêve;</li>
                  <li>des instants de concert de ouf sans oublier que tu pourras rejoindre des milliers de jeunes comme toi pour plus de délires.</li>
                </ul>
                <p><strong><span style="color: #ff0000;">*106*1#</span></strong> et tu moov dans le style. Tu call tes potes et ensemble on va s’éclater à moooorttt !!!!!!</p>
                <button class="btn btn-moov" ng-click="vcall('*106*1%23')">GO! (*106*1#)</button>

                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 2}">

            <h4 class="panel-title">
              Qui peut être EPIQ NATION ?
            </h4>
          </div>

          <div ui-if="myAccordion == 2">
            <div class="panel-body">
              <div class="nn_sliders_item" id="nn_sliders_item_1____728___-2" style="display: block; margin: 0px; opacity: 1;">
                <a name="1____728___-2"></a><h2 class="nn_sliders_title" style="visibility: visible; display: none;"><span>Qui</span> peut être EPIQ NATION ?</h2>
                <p>Un abonné prépayé actif (vous devez être en mesure d’émettre et recevoir des appels)&nbsp;; Excepté les corporates et postpaid.</p>


                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 3}">

            <h4 class="panel-title">
              Comment devenir EPIQ NATION ?
            </h4>
          </div>

          <div ui-if="myAccordion == 3">
            <div class="panel-body">
              <div class="nn_sliders_item" id="nn_sliders_item_1____728___-3" style="display: block; margin: 0px; opacity: 1;">
                <a name="1____728___-3"></a><h2 class="nn_sliders_title" style="visibility: visible; display: none;"><span>Comment</span> devenir EPIQ NATION ?</h2>
                <p>Pour souscrire à Epiq Nation, il suffit juste d’envoyer «&nbsp;EPIQ&nbsp;» par sms au 7005&nbsp;:<br> <strong>Coût de la migration</strong>&nbsp;: Abonnés Moov’in&nbsp;: 00F&nbsp; (gratuit)&nbsp;; non abonné moov’in : 100F</p>
                <button class="btn btn-moov" ng-click="vsms('7005', 'EPIQ')">Envoyer</button><p>&nbsp;</p>
                <p>Pour les non abonnés Moov, il suffit juste d’acheter un kit moov à 500F, de se faire identifier, et d’envoyer "Epiq" par sms au <strong>7005.</strong></p>


                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" ui-set="{'myAccordion': 4}">

            <h4 class="panel-title">
              Quels sont les avantages de EPIQ NATION ?
            </h4>
          </div>

          <div ui-if="myAccordion == 4">
            <div class="panel-body">
              <div class="nn_sliders_item" id="nn_sliders_item_1____728___-4" style="display: block; margin: 0px; opacity: 1;">
                <a name="1____728___-4"></a><h2 class="nn_sliders_title" style="visibility: visible; display: none;"><span>Quels</span> sont les avantages de EPIQ NATION ?</h2>
                <p><strong>Plan tarifaire :</strong></p>
                <p><span style="color: #ff0000;"><strong>0.75F/s</strong></span> vers <strong>Epiq de 6h à 23h29’</strong></p>
                <p><span style="color: #ff0000;"><strong>1.2F/s</strong></span> vers <strong>Moov de 6h à 23h29’</strong></p>
                <p><span style="color: #ff0000;"><strong>1.2F/s</strong></span> vers les <strong>autres réseaux 24h24</strong></p>
                <p><span style="color: #ff0000;"><strong>3F/min</strong></span> de <strong>23h30 à 5h59’</strong></p>
                <p><strong>Avantages :</strong></p>
                <p><span style="color: #ff0000;"><strong>125 sms</strong></span> offerts valable de 6h à 23h59’ après envoie de 3 premiers facturés</p>
                <p><span style="color: #ff0000;"><strong>150 Mo + 30 sms</strong></span>&nbsp;offert valable de 23h30 à 5h59’ après consommation de<strong> 100f</strong> de crédit entre 6h et 18h</p>
                <!--p><strong><span style="color: #ff0000;">50Mo et 50sms</span></strong> offerts valable de 23h30 à 5h59’ après consommation de<strong> 200F</strong> de crédit entre 6h et 18h</p-->
                <p><span style="color: #ff0000;"><strong>1H</strong></span> d’appel gratuit vers Moov le dimanche valable entre 6h et 18H après consommation de <strong>1000F</strong> entre Lundi et vendredi</p>
                <div style="clear:both;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>