<div class="scrollable">
  <div class="scrollable-content">
      
      <fieldset style="padding: 20px">
        <div class="form-group">
            <button class="btn btn-success btn-block" type="button" ng-click="call('*142%23')">Mon Solde</button>
        </div>
        <div class="form-group">
          <label>Recharger Mon Compte</label>
            <div class="input-group">
                <input type="number"
                       class="form-control"
                       ng-model="ncr"
                       placeholder="Numéro de la carte de recharge">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="call('*141*'+ncr+'%23')">OK</button>
                </span>
            </div>
        </div>
          <div class="form-group">
              <button class="btn btn-success btn-block" type="button" ng-click="call('*100%23')">Menu FLOOZ</button>
          </div>

      </fieldset>
      
      
  </div>
</div>
